/*elements*/

section{
	
}

h2{
	font-size:43px;
	margin-top:10px;
	@include max-screen(1024px){
			font-size:38px;
		}
}

h3{

}

h4{
	font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}

h5{

}

img{
	max-width: 100%;
}

p{
	font-size: 18px;
}

.blue-text{
	color: $blue;
}

.white-text{
	color:#FFFFFF;
}

.mobile-button-store{
	margin-bottom:10px;
}
